<mat-toolbar class="mat-toolbar">
    <div class="flex-container">
        <span class="toolbar-title">Controle de Estados</span>
        <button mat-fab class="accent" routerLink="/estados/new">
            <mat-icon>add</mat-icon>
        </button>
    </div>
</mat-toolbar>

<mat-form-field appearance="outline" class="flex-container">
    <mat-label>Filtro</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Tocantins" #input>
</mat-form-field>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="numero">
        <th mat-header-cell *matHeaderCellDef> Número </th>
        <td mat-cell *matCellDef="let obj; let i = index">
            {{i + 1}}
        </td>
    </ng-container>

    <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef> Nome </th>
        <td mat-cell *matCellDef="let obj">
            {{obj.nome}}
        </td>
    </ng-container>

    <ng-container matColumnDef="sigla">
        <th mat-header-cell *matHeaderCellDef> Sigla </th>
        <td mat-cell *matCellDef="let obj">
            {{obj.sigla}}
        </td>
    </ng-container>

    <ng-container matColumnDef="regiao">
        <th mat-header-cell *matHeaderCellDef> Região </th>
        <td mat-cell *matCellDef="let obj">
            {{obj.regiao.nome}}
        </td>
    </ng-container>

    <ng-container matColumnDef="acao">
        <th mat-header-cell *matHeaderCellDef> Ação </th>
        <td mat-cell *matCellDef="let obj">
            <button mat-icon-button color="primary" routerLink="/estados/edit/{{obj.id}}">
                <mat-icon>edit</mat-icon>
            </button>

            <button mat-icon-button color="warn">
                <mat-icon>delete</mat-icon>
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>